<.header>
  New Racer
  <:subtitle>Use this form to manage racer records in your database.</:subtitle>
</.header>

<.racer_form changeset={@changeset} action={~p"/racer"} />

<.back navigate={~p"/racer"}>Back to racer</.back>
