<.header>
  Edit Race <%= @race.id %>
  <:subtitle>Use this form to manage race records in your database.</:subtitle>
</.header>

<.race_form changeset={@changeset} action={~p"/race/#{@race}"} />

<.back navigate={~p"/race"}>Back to race</.back>
